@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideOut {
  animation: slideOut 1s forwards;
  animation-delay: 666ms;
}

.slideIn {
  animation: slideIn 1s forwards;
}